<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsx.mapper.UserMomentsMapper">

    <insert id="addUserMoments" parameterType="UserMoment">
        insert into t_user_moments(user_id, video_id,`type`, content_id, create_time)
            values (#{userId},#{videoId},#{type},#{contentId},#{createTime})
    </insert>

</mapper>
